streamlit
pandas
psycopg2-binary
plotly
openpyxl
scikit-learn
python-dotenv
SQLAlchemy
matplotlib
seaborn
altair
bokeh
prophet
statsmodels
xlrd
pyarrow
requests
httpx
bcrypt
google-generativeai
google-generativeai==0.8.3
